{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!
{% endblock %}

{% block body %}
	<h1>TaskM@ster!</h1>

	<p>
		Bonjour :<span>{{ username }}</span>

	</p>


	<p>
		Le manager a ajouter une nouvelle tache sur le projets :{{ projects }}
	</p>

{% endblock %}
